<style>
  a { display: inline; }
  form { display: inline; }
  * {
  font-family: "Courier new", Times, serif;
}
</style>
<h1>Bookmark Manager</h1>
<form action="/bookmarks/new" method="get">
  <input type="submit" value="New">
</form>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li class="bookmark" id="bookmark-<%= bookmark.id %>">
      <a href=<%= bookmark.url %> target="_blank">
        <%= bookmark.title %>
      </a>
      <br>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/comments/new" method="get">
        <input type="submit" value="Add Comment" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/tags/new" method="get">
        <input type="submit" value="Add Tag" />
      </form>
      <p>
        <% if !bookmark.tags.empty? %> Tags: <% end %>
        <% bookmark.tags.each do |tag| %>
          #<%= tag.text %>
        <% end %>
      </p>
      <ul>
        <% bookmark.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
      <br>
    </li>
  <% end %>
</ul>
